parameters:
    level: 7
    paths:
        - src/
        - tests/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Property App\\Entity\\[a-zA-Z]+::\$id is never written, only read.#'
            paths:
                - src/Entity/*
